* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    flex-direction: column;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #0288d1; /* Botón azul */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0277bd; /* Azul más oscuro al pasar el mouse */
}

a{
    text-decoration: none;
    color: white;
}
  